*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

h1,h2,h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: row;
}

.toggle{
    color: #fff;
    font-size: 2em;
    background-color: #333;
    text-align: right;
    height: 2em;
    padding: 0.5em;
    display: none;
}

.active{
    display: flex;

}

/* conteúdo esquerdo */
.cont-esquerdo{
    width: 20%;
    height: 100%;
    background-color:#4a0072;
    color: #fff;
    border:black 1px solid;
    display: flex;
    flex-direction: column;
}

.cont-esquerdo img{
    width: 80%;
    height: 30%;
    border-radius: 50%;
    transform: translateX(12%);
    margin-bottom:20px;
    border:2px solid black;
}

.cont-esquerdo h2{
    text-align: center;
}
.cont-esquerdo h3{
    margin-top:5%;
}
.caixa{
    background-color:#ae52d4;
    width: 85%;
    height: 20%;
    padding: 3%;
    border: 1px solid black;
}

.git img{
    width: 20%;
    height: 10%;
    border: 1px solid black;
}


/* Fale comigo */
.fale{
    background-color:#862e96;
    border: 1px solid black;
    margin-top: 20%;
}

.fale-comigo{
    margin:0% 17% 0% 15%;
}

.fale-comigo input[type="submit"]{
    width: 40%;
    margin-left: 30%;
    background-color:  #862e96;
}

.fale-comigo input{
    background-color: #ae52d4;
    border: 1px black solid;
    border-radius: 16px;
    color: #fff;
    padding: 5%;
    height: 3%;
    width: 100%;
}

.fale-comigo textarea{
    background-color: #ae52d4;
    border: 1px black solid;
    border-radius: 10px;
    color: #fff;
    padding: 5%; 
    height: 100px;
    width: 100%;
}

.fale-comigo input::placeholder{
    color:#ddd;
}

.fale-comigo textarea::placeholder{
    color:#ddd;
}
/* fim do fale comigo */


/* redes sociais */
.redes h3{
    margin-top: 20%;
}

.redes img{
    width: 20%;
    height: 10%;
    margin-bottom: 8%;
}
/* fim das redes sociais */

/* fim do conteúdo esquerdo */



/* conteúdo principal */
.cont-principal{
    width: 80%;
    height: 100%;
    background-color: #333;
}

.banner{
    background: url('../img/banner.jpg');
    width: 100%;
    height: 30%;
    background-position: center;
    background-size: cover;
}

.topo{
    background-color: #4a00726e;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.topo h1{
    color:#fff;
    background-color: #4a0072;
    text-align: center;
    width: 50%;
    height: 20%;
    font-size: 24pt;
    margin:10% auto;
    padding: 1%;
    border-radius: 20px;
    border:1px black solid;
}

/* o container pega somente os dois superiores*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cont1{
    color:#fff;
    margin: auto 9%;
}

.cont1 h3{
    background-color: #4a0072;
    border: 2px solid black;
    margin: auto;
    font-size: 23px;
    width: 55%;
    text-align: center;
    margin-top: 10%;
    border-radius: 15px;
    padding: 1%;
}

.formacao{
    width: 80%;
    height: 205px;
    background-color: #4a0072;
    padding: 3%;
    border:1px solid black;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    margin-bottom: 10%;
}

.formacao li{
    margin-top: 5%;
    list-style: none;
}

.linguagens{
    width: 300px;
    height: 200px;
    background-color: #4a0072;
    padding: 3%;
    border:1px solid black;
    margin-top: 3%;
    border-radius: 10px;
}

.linguagens li{
    margin-top: 5%;
    list-style: none;
    margin-left: 3%; 
}

.linguagem h3{
    margin-top:5%;
    margin:auto;
    width: 55%;
    padding: 1%;
}


/* aptidão feita separada para não pegar o flex */
.cont2{
    margin: 5% auto;
    color:#fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont2 h3{
    background-color: #4a0072;
    border: 2px solid black;
    font-size: 23px;
    width: 15%;
    text-align: center;
    margin-bottom:1%;
    border-radius: 15px;
}

.aptidao{
    width: 30%;
    height: 200px;
    background-color: #4a0072;
    padding: 3%;
    border:1px solid black;
    border-radius: 10px;
}

.aptidao li{
    margin-top: 5%;
    list-style: none;
}

.cont-xp h3{
    width: 40%;
    height: 10%;
    background: #4a0072;
    margin: auto;
    text-align: center;
    padding: 2%;
    color: #fff;
    border: #000 1px solid;
    margin-bottom: 1%;
    font-size: 18pt;
    border-radius: 15px;
}

.xp{
    width: 70%;
    height: 40%;
    background-color: #555;
    margin: auto;
    padding: 1%;
    color: #fff;
    border: #000 1px solid;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 2.5%;
}

.xp img{
    width: 12%;
    height: 10%;
    margin: 0% auto;
    border-radius: 10px;
}

/* Responsividade */

/* breackpoint:420px */
@media screen and (max-width:420px){
    .cont-esquerdo{
        display: none;
    }

    .cont-principal{
        width: 100%;
    }

    .topo h1{
        width: 65%;
    }

    .container{
        flex-wrap: wrap;
    }

    .linguagem h3{
        width: 70%;
    }

    .linguagens{
        width: 250px;
        margin:5% auto;
    }

    .aptidao{
        width: 70%;
    }

    .cont2 h3{
        width: 50%;
    }

    .cont-xp h3{
        width: 65%;
        height: 10%;
        font-size: 14pt;
    }

    .toggle{
        display: flex;
        flex-direction: row;
    }

    .active{
        display: flex;
        width: 100%;
        position: relative;
    }
}